<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="plantilla/template :: head">
</head>
<body style="background-image: url('/images/img_2.png'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 90vh;">
<header th:replace="plantilla/template :: header"></header>
<div class="content" style="padding-bottom: 30px;"> <!-- Ajusta el valor de padding-bottom según sea necesario -->
    <h1 style="color: black; font-size: 36px; text-align: center;">Ejercicio Tema 1 nivel 2</h1>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>
